<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            https://www.springframework.org/schema/context/spring-context.xsd">

<!--    <context:annotation-config/>-->
<!--    <context:component-scan base-package="ru.gsa.biointerface"/>-->
    <bean id="dataSource"
          class="ru.gsa.biointerface.repository.database.DataSource"
          init-method="init"
          destroy-method="destroy">
<!--        <constructor-arg value="true" />-->
        <constructor-arg value="false" />
    </bean>

    <context:component-scan base-package="ru.gsa.biointerface.repository"/>
    <context:component-scan base-package="ru.gsa.biointerface.service"/>
</beans>